######################
# 开发环境与IDE配置文件 #
######################

#IDE 配置文件
.idea/
.vs/
# Visual Studio 相关
*.suo               
*.VC.db
*.VC.opendb
*.vsidx
*.tlog
*.ipch
*.vcxproj
*.recipe

###################
# 编译与构建产物文件 #
##################
# 二进制/中间文件
*.obj
*.o
*.out
*.iobj
*.ipdb
*.pdb
# 旧版 Visual Studio 中间调试文件
*.idb
# Pascal 编译单元文件
*.ppu
# 资源编译文件
*.res

###############
# 构建系统文件  #
###############
# 最近构建状态记录
*.lastbuildstate    
# 通用构建日志
*.log
*.compiled
*.or

#################
# 项目特定文件结构 #
#################

# Cheat Engine 项目相关
Cheat Engine/lib/
Cheat Engine/test/
Cheat Engine/luamac/
Cheat Engine/backup/
Cheat Engine/macsrc/
.vs
.idea

# 特殊规则：忽略 bin 目录但保留指定内容
/Cheat Engine/bin/*
!/Cheat Engine/bin/languages/ShengEngine-x86_64-SSE4-AVX2.pot
!/Cheat Engine/bin/languages/ch_cn/**


# Lazarus
*/unitbin/
*.lrj
*.rsj
*.lps
*.lrs

#################
# 操作系统生成文件 #
#################
.DS_Store

Cheat Engine/Tutorial/backup/
Cheat Engine/allochook/backup/
Cheat Engine/ceregreset/backup/